<div class="container-fluid">
    <div class="row">
        <div class="col-sm-8 col-sm-offset-1 lc">
            <h5>Surf-N-Paddle blog brought to you by:</h5>
            <div class="row">
                <div class="col-sm-3 aboutpic">
                    <%= image_tag "surflogo.png", class: 'center-block', id:'aboutpic'%>
                </div>
                <div class="col-sm-9">
                    <p>People who write interesting blogs and attract page views. Contact surf@paddle.com if you think you have something worth posting. We'll probably respond within an unspecified amount of time and give you an unclear assessment of our interest in
                        your work.</p>
                </div>
            </div>
        </div>
    </div>
</div>
